.DS_Store
.env*
!.env.local
!.env*.example

node_modules/
coverage/
/**/build/
/**/dist/
.rollup.cache/

/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

# /**/rollup.*.cjs
/.vscode/

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# !/.yarn/cache
/.pnp.*